* {
    margin: 0;
    padding: 0;
}

.sign-in {
    margin: 3em 20vw;
    padding: 5vw 0;
    background-color: #F6F5F4;
    border-radius: 15px;
    box-shadow: 1em 1em 1em 1em #28343E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form h1 {
    margin-bottom: 1em;
    color: #F3F5F7;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.sign-in-form input {
    margin: 2em 0;
    width: 30vw;
    height: 2.3em;
    padding: 1em 3em;
    border-radius: 50px;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #DAE1E7;
    border: none;
    box-shadow: 3px 3px 3px 3px #28343E;;
}

.sign-in-form input:focus {
    outline: none;
    transform: scale(1.1);
}

.button-sign-in {
    margin-top: 1em;
    width: 10rem;
    height: 4em;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    cursor: pointer;
    background-color: #313D49;
}

.button-sign-in:hover {
    transform: scale(1.1);
}